.dan {
    border: 2px solid black;
    border-radius: 25px;
    size: 200px;
  }
  
  .glasses {
    border: 2px solid black;
    border-radius: 25px;
    size: 150;
  }
  
  .Web {
    text-shadow: 2px 2px green;
    font-family: Helvetica, sans-serif
  }
  
  .about {
    font-family: Arial, sans-serif;
    font-size: 15px;
  }